Welcome to {{ ansible_hostname }}
This file was created on {{ ansible_date_time.date }}

########################   WARNING   ##############################
!!! Disconnect when you think, you are NOT suppose to be here !!! 
###################################################################

Contact {{ system_manager }} if in doubt

